  <a href="#" class="card card-product-grid">
    <div class="img-wrap"> <img src="assets/images/items/5.jpg"> </div>
    <figcaption class="info-wrap">
      <p class="title text-truncate">{{product?.product_name}}</p>
      <small class="text-muted">Quantity: {{product?.quantity}}</small>
      <div class="price mt-2">{{product?.price| currency }}</div> <!-- price-wrap.// -->
    </figcaption>
    <div class="card-footer">
      <div class="row">
        <div class="col-md-6">Details</div>
        <div class="col-md-6">Add to Panel</div>
      </div>
    </div>
  </a> <!-- card // -->
