  <a href="#" class="card card-product-grid">
    <div class="img-wrap"> <img src="assets/images/items/5.jpg"> </div>
    <figcaption class="info-wrap">
      <p class="title text-truncate">{{product?.product_name}}</p>
      <small class="text-muted">Quantity: {{product?.quantity}}</small>
      <div class="price mt-2">{{product?.price| currency }}</div> <!-- price-wrap.// -->
    </figcaption>
    <div class="card-footer">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <a class="btn  btn-outline-primary btn-block"  [routerLink]="['/product', product?.id]">
                <span></span> <i class="fas fa-eye"></i>
              </a>
            </div>
            <div class="col-md-6">
              <a class="btn  btn-primary btn-block">
                <span ></span> <i class="fas fa-shopping-cart"></i>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </a> <!-- card // -->
